@font_dh_size:24rpx;
@font_book_size:28rpx;
@font_book_type:22rpx;
@font_book_info:26rpx;
@font_title_size:26rpx;
@font_money_size:40rpx;
@font_money3_size:32rpx;
@font_money1_size:18rpx;
@font_money2_size:12rpx;


@font_color:#000;
@font_book_type_color:#333;
@font_book_info_color:rgb(127,128,129);
@color_fen:rgb(250,160,180);
@center_border_color:rgb(243,244,245);
@color_blur:rgb(100,164,238);

@book_image_width:210rpx;
@book_image_height:302rpx;



