mixin book_s(showRanking)
    view(class='canClick all_book box_s' data-id='{{item.id}}')
        view(class='all_image_body center')
            img(class='all_image_img' src='{{item.img}}')
            img(class='all_image_shadow' src='../../image/shadow.png')
            if(showRanking)
                img(class='all_image_img_number' src='../../image/ranking/{{index+1}}.png')
        view(class='all_book_name diandian') {{item.name}}
        view(class='all_book_type diandian') {{item.typeName}}

