mixin book_h_no_img(showBg)
    -var cc = (showBg)? 'all_book_h2_bg' : ''
    view(class='all_book_h2 canClick box_s '+cc data-id='{{item.id}}' )
        view(class='all_book_h2_title diandian')
            view {{item.name}}
            view(class='all_book_h2_author') {{item.author}}
        view(class='all_book_h2_info diandian2') {{item.info}}
