mixin book_s()
    view(class='canClick all_book box_s' data-id='{{item.id}}')
        view(class='all_image_body center')
            img(src='{{item.img}}')
        view(class='all_book_name diandian') {{item.name}}
        view(class='all_book_type diandian') {{item.typeName}}

