mixin book_h(type)
    view(class='all_book_h box_h canClick' data-id='{{item.id}}')
        view(class='all_book_h_img')
            img(class='all_book_h_img_image' src='{{item.img}}')
            img(class='all_image_shadow' src='../../image/shadow.png')
        view(class='boxflex1 box_s')
            view(class='all_book_h_name breakall')
                view {{item.name}}
                view(class='all_book_h_free' style="display:{{(item.isFree)?'inline-block':'none'}};") 免费
                view(class='all_book_h_vip' style="display:{{(item.isVIP)?'inline-block':'none'}};") VIP

            if(type==1)
                view(class='all_book_h_types')
                    view(wx:for='{{item.types}}' wx:key='type' wx:item='type_name' class='all_book_h_type') {{type_name}}
                    view(wx:for='{{item.states}}' wx:key='state' wx:item='state_name' class='all_book_h_state') {{state_name}}
                view(class='all_book_h_texts box_h')
                    view 最新章节：
                    view(class='boxflex1 breakall') {{item.lastChapter}}
                view(class='all_book_h_texts box_h')
                    view 更新时间：
                    view(class='boxflex1 breakall') {{item.updateTime}}
            else if(type==2)
                view(class='all_book_h_info breakall') {{item.info}}

            view(class='all_book_h_author box_h center_s')
                img(src='../../image/user.png')
                view(class='boxflex1') {{item.author}}


