mixin book_s(img,name,type)
    view(class='all_book box_s')
        view(class='all_image_body center')
            img(src=img)
        view(class='all_book_name diandian')=name
        view(class='all_book_type diandian')=type

