mixin book_h_min()
    view(class='all_book_h_min box_h center_s canClick')
        view(class='all_book_h_min_number') {{index+1}}
        view(class='boxflex1') {{item.name}}
        img(class='all_book_h_min_arrow' src='../../image/arrow.png')