mixin record(type)
    view(class='all_record box_s')
        if(type==1)
            view(class='all_record_name') {{item.name}}
            view(class='all_record_info') 订单号:{{item.info}}
            view(class='box_h center_s all_record_time')
                view(class='all_record1_info boxflex1')
                    text 订阅
                    text(class='all_record_number') {{item.number}}
                    text 比心币
                view(class='all_record_time1') 订阅时间:{{item.time}}


        if(!type)
            view(class='all_record_name') {{item.name}}
                view(class='all_record_info') 订单号:{{item.info}}
            view(class='all_record_time') 时间:{{item.time}}