mixin tab(name1,name2)
    view(class='readed_tab')
        view(class='box_h')
            //选中的样式加select
            view(class='readed_tab_item canClick')=name1
            view(class='readed_tab_item canClick select')=name2