mixin title(type,text,showMore,showText)
    view(class='all_title box_h center_s')
        if(type==1)
            img(src='../../image/title1.png')
        else if(type==2)
            img(src='../../image/title2.png')
        else if(type==3)
            img(src='../../image/title3.png')
        else if(type==4)
            img(src='../../image/title4.png')


        view(class='boxflex1 diandian center_s' style='height:100%;')
            view(class='all_title_info')=text

        if(showMore)
            view(class='all_show_more canClick') 查看全部
                img(src='../../image/arrow.png')

        if(showText)
            view(class='all_show_more')=showText
