mixin bottom()
    view(class='bottom box_h')
        view
        view A
        view U
        view R
        view A
        view S
        view P
        view A
        view C
        view E
        view