mixin loading()
    view(class='loading box_s center' id='loading')
        img(class='loading_logo' src='../../image/logo.png' mode='aspectFit')
        view(class='loading_text') AURA SPACE
        view(class='loading_text1') THE WORLD OF ART
        view(class='loading_pre') {{loading_pre}}