mixin top()
    view(class='top box_h')
        view(class='top_home center' id='home_btn')
            img(class='hover_animate' src='../../image/logo.png' mode='aspectFit')
        view(class='boxflex1')
        view(class='top_menu center' id='menu_btn')
            img(class='hover_animate' src='../../image/menu.png' mode='aspectFit')