title 书目

view(class='box_h row' wx:for='{{bookList}}' wx:key='item' data-id='{{item.id}}')
    view(class='boxflex1') {{item.name}}
    view(class='notReadNumber') {{item.notReadNumber}}


view(class='box_h center btnMain')
    view(class='searchBtn' bindTap='search') 搜 索
    view(class='refreshBtn' bindTap='refresh') 刷 新