title
view(style='margin-top:20rpx;')


view(   wx:for='{{bookList}}'
        wx:key='index'
        data-url='{{item.url}}'
        class='list diandian'
        bindTap='showInfo'
    ) {{item.name}}
