title 搜索
view(class='search box_h center_s')
    input(class='boxflex1' type='text' id='search' name='search' placeholder='请输入笔趣阁书籍编号' bindinput='inputChange' value='{{search}}')
    image(class='search_btn' bindTap='searchVal' src='../../image/search.png' mode='aspectFit')

view(class='info')
    text 注:在浏览器中打开
    text(class='red') http://www.biquge.tw
    text 在地址栏中找到对应书籍的编号,eg:
    text(class='red') 0_50
    text 进行搜索。


view(wx:if='{{showBookList}}' data-bookId='{{search}}' class='list' bindTap='showList')
    view(class='list_name') {{bookData.bookName}}
    view(class='list_a') {{bookData.author}}
    view(class='list_info') {{bookData.info}}