title 读过

include ./include/book_h
include ./include/tab
include ./include/nav


//tab 切换条
+tab('小说','其它')



//书列表
view(class='readed_list')
    block(wx:for='{{list}}' wx:key='indexdd')
        +book_h(1)



//nav
+nav()