title 读过

include ./include/book_h


//tab 切换条
view(class='readed_tab')
    view(class='box_h')
        //选中的样式加select
        view(class='readed_tab_item canClick') 小说
        view(class='readed_tab_item canClick select') 其它



//书列表
view(class='readed_list')
    block(wx:for='{{list}}' wx:key='indexdd')
        +book_h(1)