title CONTACT

include ./include/loading
include ./include/top
include ./include/menu

+loading()
+top()
+menu()


view(class='contact_title') CONTACT

view(class='contact_msg') -M-
view(class='contact_info') AURA SPACE

view(class='contact_msg') ADDRESS
view(class='contact_info') GLOBAL CENTER W1-1119

view(class='contact_msg') CITY
view(class='contact_info') CHENG DU.CHINA

view(class='contact_msg') EMAIL
view(class='contact_info') elenalin_aura@163.com

view(class='contact_msg') PHONE
view(class='contact_info') +86 028-63168158

