title ART SPACE

include ./include/top

+top1()
view(class='index_main box_s')
    view(class='index_img')
    view(class='index_btn' style='text-align:right;' id='open') 进入
    view(class='index_bg')


view(   wx:for='{{bookList}}'
        class='list diandian'
        data-url='{{index}}'
        id = 'a'
    ) {{item}}



