title ART SPACE

view(class='top box_h')
    view(class='top_home center' id='home' style='color:red;')
    view(class='boxflex1')
    view(class='top_menu center' id='menu')

view(class='index_main box_s')
    view(class='index_img')
    view(class='index_btn' style='text-align:right;' id='open') 进入
    view(class='index_bg')


view(   wx:for='{{bookList}}'
        class='list diandian'
        data-url='{{index}}'
        id = 'a'
    ) {{item}}



